{% extends "bootstrap.html" %}
{% block content %}
    <main role="main" class="container">
      <div class="jumbotron">
        <h1>A Frolic in Tech</h1>
        <p class="lead">Frolic is a hands-on exploration in tech - fun, brief and shallow. We'll attempt to touch on many different tools and tech, but only at a surface / exploratory level. Think of frolic as a playground, an adventure, a journey, a hack.</p>
        <a class="btn btn-lg btn-primary" href="/predict" role="button">Predict &raquo;</a>
      </div>
    </main>
{% endblock %}